@model List<MyWebsite.Models.Mobile>
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="center_content">
    <div class="center_title_bar">Latest Products</div>
    @foreach (var x in Model)
    {
        <div class="prod_box">
            <div class="top_prod_box"></div>
            <div class="center_prod_box">
                <div class="product_title"><a href="details.html">@x.MModel</a></div>
                <div class="product_img"><a class="test-popup-link" href="~/images/mobiles/@x.Mimage"><img src="~/images/mobiles/@x.Mimage" class="test-popup-link" alt="" border="0" /></a></div>
                @*<div class="prod_price"><span class="reduce">@x.MPrice</span> <span class="price">@x.MPrice</span></div>*@
            </div>
            <div class="bottom_prod_box"></div>
            <div class="prod_details_tab"><a href="/Mobile/MDetails/@x.Id" class="prod_details">details</a></div>
            <div class="prod_details_tab"><a href="/Mobile/MUpdate/@x.Id" class="prod_details">Update</a></div>
            <div class="prod_details_tab"><a href="/Mobile/MDelete/@x.Id" class="prod_details">Delete</a></div>
        </div>
    }
</div>
